#app, .main, html, body
  width: 100%
  height: 100%

body, div
  display: block

*
  padding: 0
  margin: 0

.user-info-container
  width: 100%
  height: 100%
  // background-image: url('~@images/bg4.jpg')